In [4]:
n = int(input('Please input an integer:'))

if n < 0 :
    print('Negative')
elif n >= 0 and n < 100:
    print('Between 0..100')
elif n >= 100 and n < 200:
    print('Between 100..200')
else :
    print('Others')

Please input an integer:300
More

In [8]:
n = int(input('Please input an integer:'))

if n < 0 :
    print('Negative')
else:
    if n >= 0 and n < 100:
        print('Between 0..100')
    else:
        if n >= 100 and n < 200:
            print('Between 100..200')
        else :
            print('More')

Please input an integer:400
More

In [1]:
# 找到两个数字中的小的一个
x, y = 4, 3
if x < y:
    smaller = x
else:
    smaller = y

print(smaller)

3

In [2]:
x, y = 4, 3

smaller = x if x<y else y

print(smaller)

3

In [1]:
# 默认参数
def cal_0(money, rate=0.1):
    return money + money * rate

print(cal_0(100))
print(cal_0(100,0.2))

110.0
120.0

In [2]:
def cal_1(money, bonus=1000, month=12):
    i = money * month + bonus
    return i

print(cal_1(5000))
print(cal_1(5000, 2000))
print(cal_1(5000, 2000, 10))

61000
62000
52000

In [12]:
# 列表按照元素长度排序

l = ['Shanghai', 'Beijing', 'Tokyo', 'Taipei']
l.sort()
print(l)

['Beijing', 'Shanghai', 'Taipei', 'Tokyo']

In [6]:
# 列表按照元素长度排序
# solution #1

l = ['Shanghai', 'Beijing', 'Tokyo', 'Taipei']

def str_len(s1):
    return len(s1)

l.sort(key = str_len)

print(l[::-1])

['Shanghai', 'Beijing', 'Taipei', 'Tokyo']

In [9]:
# 列表按照元素长度排序
# solution #2

l = ['Shanghai', 'Beijing', 'Tokyo', 'Taipei']
l.sort(key = lambda s: len(s))
print(l)

['Tokyo', 'Taipei', 'Beijing', 'Shanghai']

In [10]:
# 找到符合 x*x + y*y == z*z 的 x y z
# solution #1

n = 25

for x in range(1,n):
    for y in range(x,n):
        for z in range(y,n):
            if x*x + y*y == z*z:
                print(x,y,z)

3 4 5
5 12 13
6 8 10
8 15 17
9 12 15
12 16 20

In [2]:
# solution #2

n = 25 
print([(x, y, z) for x in range(1, n) for y in range(x, n) for z in range(y, n) if x*x + y*y == z*z])

[(3, 4, 5), (5, 12, 13), (6, 8, 10), (8, 15, 17), (9, 12, 15), (12, 16, 20)]

In [ ]:
# 列表按照元素长度排序

l = ['Shanghai', 'Beijing', 'Tokyo', 'Taipei']
l.sort()
print(l)

# 列表按照元素长度排序
# solution #1

l = ['Shanghai', 'Beijing', 'Tokyo', 'Taipei']

def str_len(s1):
    return len(s1)

l.sort(key = str_len)

print(l[::-1])

# 列表按照元素长度排序
# solution #2

l = ['Shanghai', 'Beijing', 'Tokyo', 'Taipei']
l.sort(key = lambda s: len(s))
print(l)

# 找到符合 x*x + y*y == z*z 的 x y z
# solution #1

n = 25

for x in range(1,n):
    for y in range(x,n):
        for z in range(y,n):
            if x*x + y*y == z*z:
                print(x,y,z)


# solution #2

n = 25 
print([(x, y, z) for x in range(1, n) for y in range(x, n) for z in range(y, n) if x*x + y*y == z*z])

In [7]:
# Find the factors of a number

import time

def print_factors(x):
   print("The factors of",x,"are:")
   for i in range(1, x + 1):
       if x % i == 0:
           print(i)

# take input from the user
num = int(input("Enter a number: "))

t1 = time.time()
print_factors(num)
t2 = time.time()
print(t2-t1)

Enter a number: 100
The factors of 100 are:
1
2
4
5
10
20
25
50
100
0.00018978118896484375

In [6]:
# Find max number #1

def find_max (l):
    max = 0
    for x in l:
        if x > max:
            max = x
    return max

print(find_max([-20,1,6,7,20,5]))

20

In [8]:
# Find max number #2
# 使用递归

def find_max (l):
    if len(l) == 1:
        return l[0]
    v1 = l[0]
    v2 = find_max(l[1:])
    if v1 > v2:
        return v1
    else:
        return v2

print(find_max([1,6,7,20,5]))

20

In [8]:
print(max(1,3,4,5))

5

In [11]:
print(max((1,2),(2,3),(2,4),(1,5)))

(2, 4)

In [12]:
print(max((1,2),(2,3),(2,4),(2,4,1)))

(2, 4, 1)

In [13]:
print(min((1,2),(2,3),(2,4),(2,4,1)))

(1, 2)

In [1]:
print(range(10))

range(0, 10)

In [5]:
print(range(1,10,3))

range(1, 10, 3)

In [4]:
print(type(range(10)))

<class 'range'>

In [9]:
print(int('10'))
print(int(9))

10
9

In [11]:
print(float('123.45')+20)

143.45

In [16]:
l = [('tom', '100'), ('jerry', '90'), ('mary', '80')]
d = dict(l) 
print(d)

{'tom': '100', 'mary': '80', 'jerry': '90'}

In [21]:
l = [True,True,True,True]
print(all(l))

True

In [22]:
l = [True,True,False,True]
print(all(l))

False

In [23]:
l = [True,True,False,True]
print(any(l))

True

In [12]:
l = ['amy', 'tom', 'jerry ']
for item in l:
    print(item)

amy
tom
jerry

In [24]:
l = ['amy', 'tom', 'jerry ']
for i, item in enumerate(l):
    print(i, item)

0 amy
1 tom
2 jerry