In [8]:
print(max(1,3,4,5))

5

In [11]:
print(max((1,2),(2,3),(2,4),(1,5)))

(2, 4)

In [12]:
print(max((1,2),(2,3),(2,4),(2,4,1)))

(2, 4, 1)

In [13]:
print(min((1,2),(2,3),(2,4),(2,4,1)))

(1, 2)

In [1]:
print(range(10))

range(0, 10)

In [5]:
print(range(1,10,3))

range(1, 10, 3)

In [4]:
print(type(range(10)))

<class 'range'>

In [9]:
print(int('10'))
print(int(9))

10
9

In [11]:
print(float('123.45')+20)

143.45

In [16]:
l = [('tom', '100'), ('jerry', '90'), ('mary', '80')]
d = dict(l) 
print(d)

{'tom': '100', 'mary': '80', 'jerry': '90'}

In [21]:
l = [True,True,True,True]
print(all(l))

True

In [22]:
l = [True,True,False,True]
print(all(l))

False

In [23]:
l = [True,True,False,True]
print(any(l))

True

In [12]:
l = ['amy', 'tom', 'jerry ']
for item in l:
    print(item)

amy
tom
jerry

In [24]:
l = ['amy', 'tom', 'jerry ']
for i, item in enumerate(l):
    print(i, item)

0 amy
1 tom
2 jerry